/* Lighten main body color */
.body {
    color: #DDDDDD;
}

/* Navbar border */
.navbar {
    border-bottom: solid 2px #DDDDDD;
}

/* Header */
.hiddenHeader {
    font-size: 12pt;
    font-weight: bold;
    color: #888888;
    padding: 0 0 0 0;
    width: 19%;
    display: inline-block;
}

.hiddenHeader:hover {
    color: #2A9FD6;
}

.unhiddenHeader {
    font-size: 12pt;
    font-weight: bold;
    padding: 0 0 0 0;
    width: 19%;
    display: inline-block;
}

.hidden {
    height: 50px;
}

.unhidden {
    height: 50px;
}

/* Slider */
.sliderInput {
    height: 24px;
}

.sliderOutput {
    color: #DDDDDD;
    font-size: 12pt;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 16pt;
}

h4 {
    font-size: 14pt;
}

/* Checkboxes */
.container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.container input[type="radio"] + label {
    font-size: 10pt;
    align: center;
    border: 2px 0px 0px 0px dashed #2A9FD6;
}

.container input[type="radio"]:checked + label {
    color: #2A9FD6;
}

.container input[type="radio"]:hover + label {
    color: #2A9FD6;
}

.container input[type="radio"]:checked:hover + label {
    color: #4ABFF6;
}

.ulSelection {
    width: 19%;
    color: #DDDDDD;
    display: inline-block;
    padding: 0 4px;
    vertical-align: top;
    font-size: 10pt;
    list-style: none;
}

.ulSelectionHidden {
    width: 19%;
    color: #888888;
    display: inline-block;
    padding: 0 4px;
    vertical-align: top;
    font-size: 10pt;
    list-style: none;
}
